<main id="root">

  <script type='text/javascript'>
    window.travelImg = "<%= asset_path('travel.png') %>"
    window.workImg = "<%= asset_path('work.png') %>"
    window.playImg = "<%= asset_path('play.png') %>"
  </script>

</main>
