@import '../../variables';

.listing-container {
  height: 100%;
  width: 100%;
  padding: 10px;
}

// Headers //

.listing-container h3 {
  font-family: $satisfy;
  padding: 0;
  margin: 0 0 10px 0;
  width: 100%;
  text-align: center;
  color: $blue;
}

//

form.listing {
  color: $dark-gray;
  border-radius: 10px;
}
