@import '../../variables';

ul.role-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.role-item {
  position: relative;
  margin: 10px 0 10px 0;
  width: 120px;
  height: 90px;
  border-radius: 5px;
  color: $gray;
  text-align: center;
}

 input[type='checkbox'] {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  outline: none !important;
  height: 60px;
  width: 100px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid $light-gray;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.role-item label {
  position: absolute;
  top: 16px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
}
