@import '../variables';

.expander {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0;
  display: block;
  background-color: white;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.expander.show {
  border-bottom: 1px solid $light-gray;
  margin: 0;
  padding: 0;
  height: 440px;
}

.expander-element {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.expander-item {
  background-color: $cloud-white;
  height: 400px;
  padding: 10px;
  width: 700px;
  border-radius: 25px;
  border: 1px solid $light-gray;
  box-shadow: 0 0 20px $highlight-gray;
}

.expander h3 {
  text-align: center;
  color: $blue;
  min-width: 220px;
  font-family: 'Satisfy', cursive;
  padding: 0 20px 5px 10px;
}

.expander p {
  padding: 5px;
  margin: 0;
}

.expander .text-block {
  padding: 10px;
  background-color: $off-white;
  border: 5px solid white;
  border-radius: 15px;
}

.expander-item img.work {
  float: left;
  margin: 5px 15px 10px 0;
  height: 240px;
  border-radius: 15px;
}

.expander-item img.travel {
  float: left;
  margin: 10px 15px 15px 5px;
  width: auto;
  height: 240px;
  border-radius: 15px;
}

.expander-item img.play {
  float: left;
  margin: 10px 15px 15px 5px;
  width: auto;
  height: 240px;
  border-radius: 15px;
  border: none;
}

.create-account-container {
  width: 100%;
  text-align: center;
}

.create-account {
  outline: none;
  border: 1px solid $blue;
  border-radius: 15px;
  font-family: $satisfy;
  background-color: white;
  font-size: 20px;
  color: white;
  color: $blue;
  width: 300px;
  height: 40px;
  padding-top: 5px;
}

.create-account:hover {
  background-color: $blue;
  color: white;
  border: 1px solid white;
}
