$transparent-green: rgba(115, 181, 45, 0.5);
$green: #73b52d;

$rate-green: #8ead45;
$yellow: #e2d68a;
$light-yellow-transparent: rgba(226, 214, 138, 0.3);
$light-yellow-green: #9fbc7c;
$mid-light-yellow-green: #94ba73;
$mid-yellow-green: #84ad70;
$yellow-green: #668756;
$dark-yellow-green: #4c6640;

$frog-dark-green: #869936;
$frog-light-green: #A3B84A;

$light-blue-transparent: rgba(114, 154, 206, 0.2);
$highlight-blue: #a1bce0;
$light-blue: #729ACE;
$blue: #3B5A82;
$transparent-blue: rgba(59, 90, 130, 0.8);
$calm-blue: #5d7696;
$dark-blue: #1a2c44;

$red: #823b3b;
$deep-brown: #211d1a;
$deeper-brown: #221f1d;
$deeper-brown-transparent: rgba(34, 31, 29, 0.5);
$deepest-brown: #11100f;
$deepest-brown-transparent: rgba(17, 16, 15, 0.5);

$cloud-white: rgba(255, 255, 255, .9);
$fog-white: rgba(255, 255, 255, .6);
$highlight: rgb(251, 251, 251);
$flake-white: rgb(247, 247, 247);
$off-white: rgb(240, 240, 240);
$highlight-gray: rgb(220, 220, 220);
$light-gray: rgb(200, 200, 200);
$middle-gray: rgb(150, 150, 150);
$transparent-light-gray: rgba(200, 200, 200, 0.3);
$transparent-gray: rgba(100, 100, 100, 0.5);
$transparent-dark-gray: rgba(50, 50, 50, 0.8);
$transparent-darkest-gray: rgba(20, 20, 20, 0.7);
$shadow-gray: rgb(125, 125, 125);
$gray: rgb(100, 100, 100);
$dark-gray: rgb(70, 70, 70);
$darkest-gray: rgb(50, 50, 50);
$next-to-black: rgb(25, 25, 25);

$satisfy: 'Satisfy', cursive;
$josefin: 'Josefin Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;
