$light-green: #AEFF59;
$green: #73b52d;
$dark-green: #3D6810;

$frog-dark-green: #869936;
$frog-light-green: #A3B84A;

$highlight-blue: #a1bce0;
$light-blue: #729ACE;
$blue: #3B5A82;
$dark-blue: #1a2c44;

$red: #823b3b;
$deep-brown: #211d1a;
$deeper-brown: #221f1d;

$cloud-white: rgba(255, 255, 255, .9);
$fog-white: rgba(255, 255, 255, .6);
$highlight: rgb(251, 251, 251);
$flake-white: rgb(247, 247, 247);
$off-white: rgb(240, 240, 240);
$highlight-gray: rgb(220, 220, 220);
$light-gray: rgb(200, 200, 200);
$middle-gray: rgb(150, 150, 150);
$shadow-gray: rgb(125, 125, 125);
$gray: rgb(100, 100, 100);
$dark-gray: rgb(70, 70, 70);

$satisfy: 'Satisfy', cursive;
$josefin: 'Josefin Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;
