@import './variables';

#footer-container {
  width: 100%;
  background-color: $deeper-brown;
  margin: 0;
  padding: 0;
  height: 52px;
}

#footer-container footer {
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: transparent;
}

#footer-container footer a {
  color: $gray;
  text-decoration: none;
}

#footer-container footer .logo a {
  color: $gray;
  float: left;
  font-family: $satisfy;
  height: 52px;
  font-size: 24px;
  padding: 10px 20px;
  -webkit-transition: color .2s;
  width: 140px;
}

#footer-container footer .logo a:hover {
  color: white;
}

#footer-container footer nav {
  float: right;
  display: flex;
  justify-content: center;
  height: 52px;
  width: 220px;
  padding: 0;
  margin: 0;
}

#footer-container footer nav a {
  padding: 13px 16px;
  color: $gray;
  -webkit-transition: color .2s;
}

#footer-container footer nav a:hover {
  color: white;
}

#footer-container footer nav button {
   background:none!important;
   outline: none;
   font-family: $open-sans;
   font-weight: 600;
   color: $gray;
   padding: 0 18px 4px;
   -webkit-transition: color .2s;
   transition: color .2s;
   border: none;
}

#footer-container footer nav button:hover {
  color: white;
}

// user footer //

.fixed-to-bottom {
  position: fixed;
  bottom: 0;
}
