.root-header {
  background-color: white;
}

.root-header h2 {
  color: gray;
  margin: 0;
  padding: 4px;
}

.frog-logo {
  position: absolute;
  height: 46px;
  left: 142px;
  top: 4px;
}

#header {
  text-decoration: none;
  height: 52px;
  margin: 0;
  padding: 0;
}

.header-menu {
  border: 1px solid red;
  float: right;
  display: flex;
  justify-content: space-around;
  height: 52px;
  width: 190px;
  padding: 14px;
  margin: 0;
}

#header .header-menu a {
  color: #434741;
  padding: 0 18px;
  border-right: 1px solid gray;
  text-decoration: none;
}

#header .header-menu a:last-child {
  border: none;
}

#header .root-header a {
  text-decoration: none;
}

#header .root-header a:hover {
  color: #434741;
  text-decoration: none;
}

#header .root-header a:visited {
  color: #434741;
  text-decoration: none;
}

#header .root-header a:active {
  color: #434741;
  text-decoration: none;
}

.searchbar-label {
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 16px;
  display: block;
  text-align: left;
}

#header .logo a {
  font-size: 30px;
  margin: 4px;
  text-align: center;
  width: 78px;
  padding: 2px;
  font-family: 'Satisfy', cursive;
  position: absolute;
  left: 60px;
  top: 2px;
}

#header .logo a:hover {
  width: 78px;
  padding: 2px;
  font-family: 'Satisfy', cursive;
  border-radius: 8px;
  position: absolute;
  left: 60px;
  top: 2px;
}
