@import './variables';

 .hero-search {
   text-align: center;
   position: absolute;
   top: 55%;
   left: 50%;
   width: 560px;
   transform: translate(-50%, -50%);
   color: white;
   border-radius: 16px;
   box-shadow: 1px 1px 10px $deeper-brown-transparent;
 }

.hero-search input {
  outline: none;
  text-indent: 50px;
  width: 450px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid $fog-white;
  transition: background 0.3s;
  color: #434741;
  background-color: $cloud-white;
}

.hero-search h5.where-to {
 position: absolute;
 left: 0;
 text-align: right;
 padding: 0 15px 0 5px;
 top: -10px;
 height: 100%;
 width: 100px;
 border-right: none;
 border-radius: 16px 0 0 16px;
 background-color: $calm-blue;
 line-height: 40px;
 color: $cloud-white;
 font-family: $open-sans;
 box-shadow: inset 0 0 20px 5px $light-blue-transparent;
}

.hero-search input::placeholder {
 color: $light-gray;
}

.hero-search button[type=submit] {
 position: absolute;
 right: 0;
 text-align: center;
 top: 0;
 height: 100%;
 width: 100px;
 outline: none;
 border: none;
 border-radius: 0 16px 16px 0;
 background-color: $calm-blue;
 line-height: 30px;
 color: $cloud-white;
 font-family: $open-sans;
 box-shadow: inset 0 0 20px 5px $light-blue-transparent;
}

.hero-search input:focus {
  background-color: white;
  outline: none;
}
