// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-green: #AEFF59;
$green: #73b52d;
$dark-green: #3D6810;

$frog-dark-green: rgb(0, 149, 52);
$frog-light-green: #A3B84A;

$light-blue: #729ACE;
$blue: #3B5A82;
$dark-blue: #203550;
$red: #823b3b;

$highlight: rgb(251, 251, 251);
$off-white: rgb(240, 240, 240);
$flake-white: rgb(230, 230, 230);
$highlight-gray: rgb(220, 220, 220);
$light-gray: rgb(200, 200, 200);
$middle-gray: rgb(150, 150, 150);
$shadow-gray: rgb(125, 125, 125);
$gray: rgb(100, 100, 100);
$dark-gray: rgb(70, 70, 70);

$deep-brown: #211d1a;
$deeper-brown: #221f1d;

$satisfy: 'Satisfy', cursive;
$josefin: 'Josefin Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;


// User Main Component //

.empty-spacer {
  margin: 0;
  padding: 0;
}

.soft-background {
  min-height: 500px;
  background-color: $off-white;
}

.user-main-container {
  width: 100%;
  display: block;
  position: relative;
  width: 100%;
  background-color: transparent;
}

.user-main {
  position: relative;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}

.user-main nav {
  margin-top: 30px;
  flex: 0 0 168px;
  height: 310px;
  margin-right: 20px;
  border-radius: 25px;
  box-shadow: inset 0 0 2px $shadow-gray,
    0 0 10px 2px $highlight,
    0 0 10px 5px $flake-white;
  border: 1px solid white;
  background-color: $highlight;
}

.user-main nav ul {
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.user-main nav ul li {
  font-family: $open-sans;
  margin: 0;
  padding: 0;
  height: 16.7%;
  line-height: 50px;
  width: 100%;
  box-shadow: inset 1px 1px 1px $light-gray;
  color: white;
  font-size: 14px;
  list-style: none;
  cursor: pointer;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-weight: 600;
  color: $gray;
}

 .user-main nav ul li:last-child {
   border-radius: 0 0 25px 25px;
 }

 .user-main nav ul li:first-child {
   border-radius: 25px 25px 0 0;
 }

 .user-main nav ul li:hover {
   color: $light-blue;
 }

 .user-main nav ul li:first-child:hover {

 }

 .local-nav-row {
  display: flex;
  justify-content: flex-start;
 }

.user-main .content-box {
  display: flex;
  margin: 0 50px 130px 0;
  padding: 10px;
  min-height: 380px;
  height: auto;
  width: 90%;
  min-width: 360px;
  box-shadow: inset 0 0 2px $shadow-gray,
    0 0 10px 2px $highlight,
    0 0 10px 5px $flake-white;
  border: 1px solid white;
  border-radius: 25px;
  background-color: $highlight;
}

.user-footer-container {
  margin-top: 20px;
  position: relative;
  background-color: $deep-brown;
  width: 100%;
  height: 200px;
}

.user-footer {
  margin: 0 auto;
  background-color: transparent;
  width: 400px;

}

 // job list //

.opportunities-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.opportunities {
  margin: 0;
  padding: 10;
  width: 100%;
  height: auto;
}

.opportunities li.job-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid $light-gray;
  background-color: transparent;
  width: 100%;
  box-sizing:border-box;
  height: auto;
  border-radius: 20px;
  list-style: none;
  text-indent: 0;
}

li.job-item h4, h5 {
  color: $blue;
  display: inline;
  margin-right: 5px;
}

li.job-item h5 {
  color: $frog-light-green;
}

li.job-item p {
  margin: 0;
  padding: 5px;
}

li.job-item .img-container {
  float: left;
  height: 90px;
  width: 120px;
  margin-right: 10px;
  border-radius: 15px;
  color: $off-white;
  background-color: $off-white;
}

// user settings //


.red-outline {
  border: 1px solid red;
}

// user footer //

.user-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $deeper-brown;
}
