// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-green: #AEFF59;
$green: #73b52d;
$dark-green: #3D6810;

$frog-dark-green: rgb(0, 149, 52);
$frog-light-green: #A3B84A;

$light-blue: #729ACE;
$blue: #3B5A82;``
$red: #823b3b;

$off-white: rgb(240, 240, 240);
$highlight-gray: rgb(220, 220, 220);
$light-gray: rgb(200, 200, 200);
$middle-gray: rgb(150, 150, 150);
$gray: rgb(100, 100, 100);
$dark-gray: rgb(70, 70, 70);

$deep-brown: #211d1a;

$satisfy: 'Satisfy', cursive;
$josefin: 'Josefin Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;


// User Main Component //

.empty-spacer {
  margin: 0;
  padding: 0;
}

.inspect {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.add-height {
  min-height: 300px;
  z-index: 0;
}

.user-main-container {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  border: 1px solid blue;
  background-color: transparent;
}

.user-main {
  position: relative;
  height: 500px;
  width: 100%;
  border: 1px solid red;
  margin: 0 auto;
  background-color: transparent;
}

.user-main nav {
  position: absolute;
  height: 310px;
  margin-right: 10px;
  width: 168px;
  border-radius: 15px;
  border: 1px solid $highlight-gray;
  background-color: white;
}

.user-main .dummy-nav {
  position: absolute;
  bottom: 16px;
  left: 4px;
  height: 310px;
  width: 168px;
  border-radius: 25px;
  z-index: -1;
}

.user-main nav ul {
  padding: 0;
  width: 100%;
  text-align: center;
}

.user-main nav ul li {
  font-family: $open-sans;
  margin: 0;
  padding: 0;
  height: 16.6%;
  line-height: 50px;
  width: 100%;
  border-bottom: 1px solid $light-gray;
  color: white;
  font-size: 14px;
  list-style: none;
  cursor: pointer;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-weight: 600;
  color: $gray;
}

 .user-main nav ul li:last-child {
   border: none;
 }

 .user-main nav ul li:hover {
   color: $light-blue;
 }

.user-main .content-box {
  position: relative;
  display: inline-block;
  min-height: 410px;
  height: auto;
  width: 600px;
  border: 1px solid $highlight-gray;
  border-radius: 15px;
  background-color: white;
}

.user-footer-container {
  margin-top: 20px;
  position: relative;
  background-color: $deep-brown;
  width: 100%;
  height: 200px;
}

.user-footer {
  margin: 0 auto;
  background-color: transparent;
  width: 400px;

}

 // job list //

.opportunities-container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.opportunities {
  margin: 0;
  padding: 10;
  width: 100%;
  height: auto;
}

.opportunities li.job-item {
  padding: 10px;
  margin: 0 auto;
  margin: 10px;
  border: 1px solid $light-gray;
  background-color: transparent;
  width: 570px;
  height: auto;
  border-radius: 20px;
  list-style: none;
  text-indent: 0;
}

li.job-item h4, h5 {
  color: $blue;
  display: inline;
  margin-right: 5px;
}

li.job-item h5 {
  color: $frog-light-green;
}

li.job-item p {
  margin: 0;
  padding: 5px;
}

li.job-item .img-container {
  float: left;
  height: 90px;
  width: 120px;
  margin-right: 10px;
  padding: 0;
  border-radius: 15px;
  color: $off-white;
  background-color: $off-white;
  border: 1px solid $light-gray;
}
// user footer //

.user-footer-container {

}

footer.user-footer {

}
