// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-green: #AEFF59;
$green: #73b52d;
$dark-green: #3D6810;

$frog-dark-green: rgb(0, 149, 52);
$frog-light-green: rgb(134, 192, 45);

$light-blue: #729ACE;
$blue: #3B5A82;
$red: #823b3b;

$off-white: rgb(240, 240, 240);
$highlight-gray: rgb(220, 220, 220);
$light-gray: rgb(200, 200, 200);
$middle-gray: rgb(150, 150, 150);
$gray: rgb(100, 100, 100);
$dark-gray: rgb(70, 70, 70);

$deep-brown: #211d1a;

$satisfy: 'Satisfy', cursive;
$josefin: 'Josefin Sans', sans-serif;
$open-sans: 'Open Sans', sans-serif;

.user-header-container {
  height: 120px;
  width: 100%;
}

.upper-spacer {
  box-shadow: inset 2px 2px 3px $middle-gray;
  height: 5px;
  background-color: $light-gray;
  width: 100%;
}

.lower-spacer {
  height: 5px;
  background-color: $middle-gray;
  width: 100%;
  box-shadow: inset 2px 2px 3px $gray;
}

.user-header {
  width: 800px;
  position: relative;
  margin: 0 auto;
  height: 100%;
}

.user-avatar-container {
  width: 168px;
  height: 146px;
  position: absolute;
  top: 16px;
  left: 0;
  border: 1px solid $highlight-gray;
  border-radius: 25px;
  background-color: rgb(250, 250, 250);
  z-index: 2;
  box-shadow: 0 0 0 16px white;
}

.dummy-avatar-container {
  width: 200px;
  height: 178px;
  position: absolute;
  top: 0;
  left: -16px;
  border: 1px solid white;
  background-color: white;
  border-radius: 37px;
  z-index: -1;
  box-shadow: 2px 2px 3px $gray;
}

.user-avatar {

}

.user-details-container {
  position: absolute;
  height: 100%;
  width: 330px;
  left: 176px;
}

.user-details {
  position: relative;
  margin: 10px;
  height: 100px;
  color: $dark-gray;
  border-right: 1px solid $light-gray;
}

.user-details h3 {
  margin: 0;
  padding: 5px;
  font-family: $open-sans;
}

.user-details h5 {
  margin: 0;
  padding: 5px;
  font-family: $open-sans;
}

.user-details h6 {
  margin: 0;
  padding: 5px;
  color: gray;
  font-family: $open-sans;
}

.user-star-rating {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 200px;
  line-height: 30px;
}

.user-star-rating h3 {
  color: $blue;
  padding: 3px;
  margin: 0;
  font-size: 30px;
}

.user-star-rating .fa-star {
  color: $blue;
  padding: 5px;
  font-size: 18px;
}

.user-blurb-container {
  position: absolute;
  left: 500px;
  height: 100%;
  width: 320px;
}

.user-blurb h4 {
  color: $blue;
  font-weight: 400;
  margin: 0;
  padding: 0 0 5px 0;
}

.user-blurb {
  margin: 10px;
  height: 100px;
  position: relative;
  color: $gray;
  font-weight: 400;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

// User Main Component //

.empty-spacer {
  margin: 0;
  padding: 0;
}

.inspect {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.add-height {
  min-height: 300px;
  z-index: 0;
}

.user-main-container {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
  width: 100%;
  background-color: transparent;
}

.user-main {
  position: relative;
  height: 400px;
  width: 800px;
  margin: 0 auto;
  background-color: transparent;
}

.user-main nav {
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 310px;
  width: 168px;
  border-radius: 15px;
  border: 1px solid $highlight-gray;
  background-color: white;
}

.user-main .dummy-nav {
  position: absolute;
  bottom: 16px;
  left: 4px;
  height: 310px;
  width: 168px;
  border-radius: 25px;
  z-index: -1;
}

.user-main nav ul {
  padding: 0;
  width: 100%;
  text-align: center;
}

.user-main nav ul li {
  font-family: $open-sans;
  margin: 0;
  padding: 0;
  height: 16.6%;
  line-height: 50px;
  width: 100%;
  border-bottom: 1px solid $light-gray;
  color: white;
  font-size: 14px;
  list-style: none;
  cursor: pointer;
  -webkit-transition: color .2s;
  transition: color .2s;
  font-weight: 600;
  color: $gray;
}

 .user-main nav ul li:last-child {
   border: none;
 }

 .user-main nav ul li:hover {
   color: $light-blue;
 }

 .user-main .search-container {
   position: absolute;
   top: 14px;
   right: 70px;
 }

.search-container .user-search {
  width: 490px;
  border: 1px solid $light-gray;
  border-radius: 15px;
  background-color: white;
  height: 40px;
}

.search-container .user-search input {
  border: none;
  height: 100%;
  text-indent: 150px;
  color: $gray;
  font-family: $open-sans;
  font-weight: bold;
  line-height: 20px;
  background-color: transparent;
  width: 100%;
  outline: none;
}

input::placeholder {
  color: $light-gray;
}

.user-search h5.where-to {
  position: absolute;
  left: 0;
  text-align: center;
  top: -10px;
  height: 100%;
  width: 100px;
  border-radius: 15px 0 0 15px;
  background-color: $blue;
  line-height: 40px;
  color: white;
}

.user-search h5.go {
  position: absolute;
  right: 0;
  text-align: center;
  top: -10px;
  height: 100%;
  width: 60px;
  border-radius: 0 15px 15px 0;
  border: 1px solid $light-gray;
  background-color: white;
  line-height: 40px;
  color: $gray;
}

h5.go:hover {
  color: $light-blue;
  cursor: pointer;
}

.user-search .lookingGlass {
  position: absolute;
  left: 100px;
  top: 4px;
  color: $gray;
  border-right: 1px solid $highlight-gray;
  padding: 6px 10px;
  margin: 4px;
}

.user-main .content-box {
  position: absolute;
  height: 310px;
  width: 594px;
  right: 20px;
  bottom: 20px;
  border: 1px solid $highlight-gray;
  border-radius: 15px;
  background-color: white;
}

.user-footer-container {
  margin-top: 20px;
  position: relative;
  background-color: $deep-brown;
  width: 100%;
  height: 200px;
}

.user-footer {
  margin: 0 auto;
  background-color: transparent;
  width: 400px;

}

// user footer //

.user-footer-container {

}

footer.user-footer {

}
