@import '../variables';

.create-job-container {
  position: absolute;
  top: 8px;
  left: 140px;
  width: 74%;
  background-color: transparent;
}

.create-job-bar {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 98%;
  border-radius: 25px;
  background-color: $blue;
}

.create-job-bar button {
  border: none;
  outline: none;
  padding: 10px 20px;
  min-width: 150px;
  background-color: $calm-blue;
  height: 100%;
  color: $cloud-white;
  border-left: 1px solid $fog-white;
  border-right: 1px solid $fog-white;
  box-shadow: inset 0 0 20px 5px $light-blue-transparent;
}

.create-job-bar button:first-child {
  margin-left: 50px;
  border-right: none;
  color: white;
  background-color: $mid-light-yellow-green;
  text-shadow: 1px 1px 35px $dark-yellow-green;
  box-shadow: inset 0 0 20px 5px $light-yellow-transparent;
}

.create-job-bar button:last-child {
  border-left: none;
}

.create-job-bar button:first-child:hover {
  box-shadow: inset 1px 1px 3px $yellow-green,
    inset 0 0 20px 5px $light-yellow-transparent;
}

.create-job-bar button:hover {
  box-shadow: inset 1px 1px 3px $blue;
}
